@model List<ST10258400_Erin_CLDV_POE.Models.Transactions>

@{
    ViewData["Title"] = "Orders";
}
<div class="box1">
<div class="text-center">
        <h1 class="header-About">Order History</h1>
    <p>
        Orders must have been made to view history
    </p>
</div>

<table  class="table">
    <thead>
        <tr>
            <th>TransactionID</th>
            <th>UserID</th>
            <th>ProductID</th>
            <th>ProductName</th>
            <th>TransactionDate</th>
            <th>Quantity</th>
            <th>TotalAmount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.TransactionId</td>
                <td>@order.UserID</td>
                <td>@order.ProductId</td>
                <td>@order.ProductName</td>
                <td>@order.TransactionDate</td>
                <td>@order.Quantity</td>
                <td>@order.TotalAmount</td>
            </tr>
        }
    </tbody>
</table>
</div>