@model List<ProductTable>

@{
    ViewData["Title"] = "My Work";
    var userId = ViewData["userID"];
    var products = ViewData["Products"] as List<ProductTable>;
}

<div class="box6">
    <h1 class="header-About">My Work</h1>
    <p>Explore the creative works of talented artisans from around the world.</p>
    <div class="my-work-container">
        @for (int i = 0; i < products.Count; i += 3)
        {
            <div class="work-grid">
                @for (int j = i; j < Math.Min(i + 3, products.Count); j++)
                {
                    <div class="work-item">
                        <img src="~/@products[j].ImagePath" alt="@products[j].ProductName">
                        <h4>@products[j].ProductName</h4>
                        <p>Item Description: @products[j].Description</p>
                        <p>Category: @products[j].Category</p>
                        <p>Price: R @products[j].Price</p>
                        <form asp-controller="Transaction" asp-action="AddToBasket" method="post">
                            <input type="hidden" name="userID" value="@userId" />
                            <input type="hidden" name="productID" value="@products[j].ProductID" />
                            <input type="hidden" name="price" value="@products[j].Price" />
                            <button type="submit">Purchase Now</button>
                        </form>
                    </div>
                }
            </div>
        }
    </div>
    <h3 class="header-coming-soon">More artisans and their works coming soon!</h3>
</div>